[user]
	email = ichi.ttht.1@gmail.com
	name = ichi

[color]
	ui = auto
	diff = auto
	status = auto
	branch = auto
	interactive = auto
	autocrlf = true

[alias]
	ad = add
	br = branch
	ci = commit
	cm = commit
	ca = commit --amend -C HEAD
	ci = commit --interactive
	co = checkout
	lo = log --decorate=full
	lg = log --decorate=full --graph
	ls = log --decorate=full --name-status
	st = status
	mn = merge --no-ff
	cch= "!f() { git cherry -v "$@" | awk '{ if($1 == \"+\"){ color = \"green\" } if($1 == \"-\"){ color = \"red\" } cmd = \"git show --date=short --no-notes --pretty=format:\\047%C\" color $1 \" %h %Cgreen%cd %Cblue%cn%x09%Creset%s\\047 --summary \" $2; cmd | getline t; close(cmd); print t }' ;}; f"

[color "branch"]
       current = yellow reverse
       local = yellow
       remote = cyan

[core]
	editor = "emacs -nw"
	excludesfile = ~/.gitignore_global
#	pager = nkf -w | less -R
	pager = less -R
	filemode = false
	quotepath = false
	whitespace = cr-at-eol
	precomposeunicode = true

[push]
	default = upstream

[pull]
#	rebase = true

[merge]
	tool = p4merge

[mergetool]
  keepBackup = false

[mergetool "p4merge"]
  path = p4merge
  keepTemporaries = false
  trustExitCode = false

[diff]
	algorithm = histogram # default|patience|histogram
#  external = git-p4diff

#[branch]
#	mergeoptions = --no-ff

[rerere]
	enabled = true
