"*":
  editor:
    fontFamily: "Ricty Diminished Discord"
    autoIndentOnPaste: false
    invisibles:
      {}
    preferredLineLength: 100
    fontSize: 13
    showInvisibles: true
    showIndentGuide: true
  core:
    ignoredNames: [
      "cache/*"
      "logs/*"
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "Thumbs.db"
    ]
    disabledPackages: [
      "emmet"
      "minimap-highlight-selected"
      "file-type-icons"
      "script"
      "spell-check"
      "sublime-tabs"
      "color-picker"
      "white-cursor"
      "css-color-highlighting"
      "editorconfig"
      "toggle-quotes"
      "git-history"
      "indentation-jumper"
      "language-apache"
      "language-chef"
      "language-docker"
      "language-dotenv"
      "language-gradle"
      "language-haml"
      "language-hosts"
      "language-ini"
      "language-lisp"
      "language-rspec"
      "language-scala"
      "language-thrift"
      "line-jumper"
      "merge-conflicts"
      "symbol-gen"
      "project-manager"
      "resize-panes"
      "ruby-string-interpolation"
      "status-tab-spacing"
      "scroll-sync"
      "ssh-config"
      "sort-lines"
      "space-tab"
      "woah-there-mousewheel"
      "trailing-spaces"
      "font-viewer"
      "function-name-in-status-bar"
      "autocomplete-php"
      "autocomplete"
      "minimap"
    ]
    themes: [
      "atom-light-ui"
      "twilight-syntax"
    ]
    destroyEmptyPanes: false
  "exception-reporting":
    userId: "a29de0bc-b892-084d-ef5b-9031a316db17"
  "release-notes":
    viewedVersion: "0.94.0"
  welcome:
    showOnStartup: false
  metrics:
    userId: "05a88ba77ee8477cd135a07208e7bc414956d7ca"
  "highlight-line":
    enableBackgroundColor: false
    enableUnderline: true
  "highlight-column":
    opacity: 0.75
    enableHighlight: true
  "custom-title":
    template: "<%= fileName %><% if (relativeFilePath) { %> [<%= relativeFilePath %>]<% } %><% if (projectName) { %> - <%= projectName %><% } %>"
  "autocomplete-plus":
    confirmCompletion: "enter"
  "git-blame":
    {}
  "todo-show":
    findTheseRegexes: [
      "FIXMEs"
      "/FIXME:?(.+$)/g"
      "TODOs"
      "/(?:TODO|@todo):?(.+$)/g"
      "NOTEs"
      "/(?:NOTE|@note):?(.+$)/g"
      "CHANGEDs"
      "/CHANGED:?(.+$)/g"
      "XXXs"
      "/XXX:?(.+$)/g"
    ]
  "markdown-preview":
    {}
  "tree-view":
    {}
  "view-tail-large-files":
    {}
  minimap:
    plugins:
      "find-and-replace": true
      selection: true
      "git-diff": false
  "git-history":
    {}
  "file-icons":
    onChanges: true
    coloured: false
  "related-files":
    {}
  "white-cursor":
    {}
  "highlight-selected":
    {}
  "fuzzy-finder":
    {}
  autocomplete:
    includeCompletionsFromAllBuffers: true
  "command-toolbar":
    {}
  "git-blame-plus":
    {}
".js.rails.source source.jquery.js":
  editor:
    preferredLineLength: 150
".rails.rjs.ruby.source":
  editor:
    preferredLineLength: 150
".html.ruby.text":
  editor:
    preferredLineLength: 150
".rails.ruby.source":
  editor:
    preferredLineLength: 150
".ruby.source.sql":
  editor:
    preferredLineLength: 150
".slim.text":
  editor:
    preferredLineLength: 150
"highlight-column":
  opacity: 0.15
  enableHighlight: false
"exception-reporting":
  userId: "3a23e2c1-8256-7bcf-76c6-0d8bcfc97def"
welcome:
  showOnStartup: false
metrics:
  userId: "c3de9fe83fc2f8df51d521928e249da7bb8784c9"
